
<div class="container">
    <div class="left-menu">
        <img class="bears" src="../../assets/images/bears.png">
        <div *ngIf="username" class="greeting row">Welcome,<br>{{username}}!</div>
        <button class="logout-button" (click)="logOut()">Log Out</button>
    </div>
    <div class="content">
        <div class="top-content" *ngIf="this.user">
            <h1>Logged in as {{this.user.name}}</h1>
        </div>
        <div class="top-content profile" *ngIf="this.user">
            <h1>Profile: {{this.user.profileDescription}}</h1>
            <app-user-profile></app-user-profile>
        </div>
        <div class="middle-content">
            <div *ngIf="this.user">
                <h1>{{this.user!.name}}'s Page:</h1>
                <br>

                <h2 *ngIf="this.user.usertype=='STUDENT'">
                    <app-student-page></app-student-page>
                </h2>

                <h2 *ngIf="this.user.usertype=='ADMIN'">
                    <app-admin-page></app-admin-page>
                </h2>

                <h2 *ngIf="this.user.usertype=='TEACHER'">
                    <app-teacher-page></app-teacher-page>
                </h2>

                <h2 *ngIf="this.user.usertype=='CHIEF'">
                    <app-teacher-page></app-teacher-page>
                    <app-chief-page></app-chief-page>
                </h2>
                
            </div>
            <div *ngIf="!this.user">
                <h1>unable to fetch user. Missing token</h1>
            </div>
        </div>
    </div>
</div>

