<div *ngIf="this.proposedCourses">
    <app-view-proposed [proposedCourses]="this.proposedCourses"></app-view-proposed>
</div>
<div *ngIf="this.user">
    <app-propose-course [user]="this.user"></app-propose-course>
</div>

<div *ngIf="this.proposedCourses && this.courses">
    <app-add-student-grade [proposedCourses]="this.proposedCourses" [courses]="this.courses"></app-add-student-grade>
</div>
<div *ngIf="this.proposedCourses && this.courses">
    <app-list-student-grade [proposedCourses]="this.proposedCourses"></app-list-student-grade>
</div>
