<div *ngIf="this.courses">
    <app-view-courses [courses]="this.courses" [courseType]="'Mandatory/Approved'"></app-view-courses>
</div>
<div *ngIf="this.proposedCourses">
    <app-view-courses [courses]="this.proposedCourses" [courseType]="'Proposed optional'"></app-view-courses>
</div>
<div *ngIf="this.user">
    <app-propose-course [user]="this.user"></app-propose-course>
</div>

<div *ngIf="this.proposedCourses && this.courses && this.groups">
    <app-add-student-grade [groups]="this.groups" [proposedCourses]="this.proposedCourses" [courses]="this.courses"></app-add-student-grade>
</div>
<div *ngIf="this.proposedCourses && this.courses">
    <app-list-student-grade [proposedCourses]="this.proposedCourses" [mandatoryCourses]="this.courses" ></app-list-student-grade>
</div>
