

<div class="login-flex-container">
    <div class="parent row">
        <div class="login-app-title"><h1>Academic Info</h1></div>
    </div>
    <div class="parent row">
        <div class="login-prompt"><h4>Login to continue</h4></div>
    </div>
    

    <div class="row">
        <div class="flex-item">Academic Info</div>
        <div class="flex-item">Academic Info</div>
        <div class="flex-item">Academic Info</div>
        <div class="flex-item">Academic Info</div>
    </div>
    
    
</div>
