
<img class="login-bg" src="../../assets/images/bg_login.jpg">
<div class="login-box">
        <div class="login-flex-container">
            <div class="parent row">
                <div class="login-app-title"><h1>Academic Info</h1></div>
            </div>
            <div class="box">
                <p id="boxText"></p>
                <button onclick="document.querySelector('.box').style.visibility='hidden'" id="boxButton">X</button>
            </div>
            <br>
            <div class="parent row">
                <div class="login-prompt"><h4>Login to continue:</h4></div><br>
            </div>
            <form [formGroup]="form">
                <div class="row">
                    <div class="user-box">
                        <label class="label" for="username">Username:</label><br><br>
                        <input type="text" id="username" formControlName="username"><br><br>
                    </div>
                    <div class="user-box">
                        <label class="label" for="password">Password:</label><br><br>
                        <input type="password" id="password" formControlName="password">
                    </div>
                </div>
                <button  class="button" type="submit" (click)="onLogin()" (submit)="onLogin()">Login</button>
            </form>
            <div class="register-prompt row label">
                <a href="#" >Don't have an account? <br>Talk to a faculty member.</a>
            </div>    
        </div>
</div>