<p *ngIf="username">Logged on admin page as {{username}}</p>
<p *ngIf="!username">Logged in on admin page: Couldn't fetch username</p>


<p>Register a new user:</p>

<form [formGroup]="form">
    <label for="name">Name: </label>
    <input type="text" id="name" formControlName="name"><br><br>

    <label for="cnp">CNP: </label>
    <input type="text" id="cnp" formControlName="cnp"><br><br>

    <button [disabled]="!this.form.valid" type="submit" (click)="addUser()" (submit)="addUser()">Register</button>
</form>