.invalid-input{
    background-color: red;
}

.valid-input {
    background-color: green;
}

.register-container {
    border: 1px solid black;
    box-sizing: border-box;
    padding: 5px;
}

table {
    border: 2px solid black;
}

table td{
    border: 1px solid black;
}