<button (click)="getStudents()">Show Students</button>
<button (click)="switchActivePage(RegisterPage)">Register Users</button>
<button (click)="switchActivePage('Delete User')">Delete User</button>
<button (click)="switchActivePage('Semester')">Semester Performance</button>
<button (click)="switchActivePage('SortByGroup')">Sort Students ByGroup</button>
<button (click)="switchActivePage('viewGroups')">Groups in current year</button>
<button (click)="switchActivePage('addGroup')">Add group in current year</button>


<div *ngIf="isPageActive(RegisterPage)">
    <app-register-users></app-register-users>
</div>
<div *ngIf="this.students && isPageActive(StudentPage)">
    <app-view-users [students]="this.students"></app-view-users>
</div>
<div *ngIf="isPageActive('Delete User')">
    <app-delete-user></app-delete-user>
</div>
<div *ngIf="isPageActive('Semester')">
    <app-semester-performance></app-semester-performance>
</div>
<div *ngIf="isPageActive('SortByGroup')">
    <app-sort-student-by-group></app-sort-student-by-group>
</div>
<div *ngIf="isPageActive('viewGroups')">
    <app-view-groups></app-view-groups>
</div>
<div *ngIf="isPageActive('addGroup')">
    <app-add-group></app-add-group>
</div>

