
<div class="border-container">
    <h3>View Student Grades</h3>
    <div *ngFor="let course of this.courseStudentGrades.keys()">
        <p>Course: {{course.name}}</p>
        <table *ngIf="this.courseStudentGrades.get(course)?.length! > 0 || false">
            <tr>
                <th>Student</th>
                <th>Group</th>
                <th>Grade</th>
            </tr>
            <tr *ngFor="let entry of this.courseStudentGrades.get(course)">
                <th>{{entry.student.name}}</th>
                <th>{{entry.student.group?.number || "NaN"}}</th>
                <th>{{entry.grades}}</th>
            </tr>
        </table>
        <p *ngIf="this.courseStudentGrades.get(course)?.length! == 0 || false" class="warning">No students enrolled in this course</p>
    </div>

</div>
