
<div class="border-container">
    <h3>View Student Grades</h3>
    <div *ngFor="let course of this.courseStudentGrades.keys()">
        <p>{{course.name}}</p>
        <table>
            <tr>
                <th>Student</th>
                <th>Grade</th>
            </tr>
            <tr *ngFor="let entry of this.courseStudentGrades.get(course)">
                <th>{{entry.student.username}}</th>
                <th>{{entry.grades}}</th>
            </tr>
        </table>
    </div>

</div>
