
<div class="border-container">
    <h3>Add Grades</h3><br>
    <table *ngIf="this.userService.inAcademicYear()">
        <label for="group"></label>
        <select id="group" (change)="changeGroup($event)">
            <option *ngFor="let group of this.groups" [value]="group.number">{{group.number}}</option>
        </select>
        <tr *ngFor="let course of myCourses">
            <table>
                <tr >
                    <td colspan="3">Course: {{course.name}}</td>
                </tr>
                
                <tr *ngIf="this.studentsOfCourse.get(course.ID)?.length == 0">
                    <td colspan="3">No students enrolled in this course</td>
                </tr>
                <div  *ngIf="this.studentsOfCourse!.get(course.ID) && this.studentsOfCourse.get(course.ID)!.length > 0 " >
                    <tr>
                        <td>Student Name</td>
                        <td>Group</td>
                        <td>Grade</td>
                    </tr>
                    <span  *ngFor="let student of this.studentsOfCourse.get(course.ID)">
                        <tr *ngIf="this.group_number == null || student.group.number == this.getCurrentGroupNumber()">
                            <th>{{student.name}}</th>
                            <th>{{student.group?.number || "NaN"}}</th>
                            <th><input id="{{course.ID}}{{student.username}}" type="number" min="1" max="10"></th>
                            <th><button (click)="gradeStudent(course.ID, student.username)">Add</button></th>
                        </tr>
                        <br>
                    </span>
                    
                </div>
            </table>
        </tr>
        <tr *ngIf="this.myCourses && this.myCourses.length == 0">
            <td>There are no courses approved or you are not responsible for any course</td>
        </tr>
    </table>
    <h4 *ngIf="!this.userService.inAcademicYear()">Not in the course of an academic year</h4>
    <br>
</div>