<div class="border-container">
    <h3>Propose an optional course: </h3><br>
    <form [formGroup]="formGroup" *ngIf="this.userService.inAcademicYear()">
        <label for="name">Name: </label><br>
        <input type="text" id="name" formControlName="name"><br><br>
    
        <label for="year">Year: </label><br>
        <input type="text" id="year" class="small" matInput formControlName="yearofstudy"><br><br>
    

        <label for="max">Max students: </label><br>
        <input type="text" id="max" class="small" matInput formControlName="maxStudents"><br><br>

        <label for="credits">Credits: </label><br>
        <input type="text" id="credits" class="small" matInput formControlName="credits"><br><br>

        <label for="semester">Semester: </label><br>
        <input type="text" id="semester" class="small" matInput formControlName="semester"><br><br>

        <button id="buttonName" (click)="proposeCourse()" [disabled]="!this.formGroup.valid">Propose</button>
    </form>
    <h4 *ngIf="!this.userService.inAcademicYear()">Not in the course of an academic year</h4>
</div>

