div{
    font-family: arial, sans-serif;
    padding-left: 15px;
    padding-top: 10px;
}

h3{
    border-bottom: 2px solid currentColor;
    width:255px;
}

form{
    padding-bottom: 40px;
}


label{
    color: rgb(246, 242, 242);
    font-family:arial, sans-serif;
}

