<div *ngIf="this.courses" class="border-container">
    <h3 id="title">Approve proposed courses</h3>
    <table *ngIf="this.courses.length > 0">
        <tr>
            <td>Course Name</td>
            <td>Proposed by</td>
        </tr>
        <tr id="text" *ngFor="let course of this.courses">
            <td>{{course.name}} </td>
            <td>{{course.proposer.name}}</td>
            <td><button (click)="approveCourse(course.ID)">Approve</button></td>
        </tr>
    </table>
    <p class="warning" *ngIf="this.courses.length == 0">There are no courses</p>
</div>