/* You can add global styles to this file, and also import other style files */

body {
    padding: 0;
    margin: 0;
}

.border-container {
    border: 1px solid white;
    padding: 5px;
}

div{
    padding-top: 10px;
}

table{
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table,th,td{
    border: 0.2px solid rgb(254, 177, 177);
}

h3{
    border-bottom: 2px solid currentColor;
    width: 175px;
    font-family: arial, sans-serif;
}