/* You can add global styles to this file, and also import other style files */

body {
    padding: 0;
    margin: 0;
}

.border-container {
    border: 1px solid white;
    padding: 10px;
    padding-left: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

div{
    padding-top: 10px;
}

table{
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

table,th,td{
    border: 0.2px solid rgb(254, 177, 177);
    padding: 5px;
}

h3{
    border-bottom: 2px solid currentColor;
    font-family: arial, sans-serif;
    text-shadow: 1px 1px 6px rgb(132, 103, 103);
}

h1,h2,h4,p{
    text-shadow: 0.5px 0.5px 6px rgb(136, 108, 108);
}


input{
    margin-top: 8px;
    border-radius: 5px;
    border-color: rgb(219, 96, 116);
    border-width: 1px;
}

button{
    background-color: pink;
    border-radius: 10px;
    font-family: arial, sans-serif;
}

button:hover{
    background-color: rgb(219, 109, 128); 
}

.warning {
    color: red;
    text-shadow: 0.5px 0.5px 2px rgb(215, 141, 141);

}