<div *ngIf="this.courses" class="border-container">
    <h3 id="title">Optional courses enrollments</h3>
    <table>
        <tr>
            <td>Course name</td>
            <td>Teacher</td>
            <td>Credits</td>
            <td>Year</td>
            <td>Semester</td>
            <td>Type</td>
        </tr>
        <tr *ngFor="let course of this.courses">
            <td>{{course.name}}</td>
            <td>{{course.proposer.name}}</td>
            <td>{{course.credits}}</td>
            <td>{{course.yearofstudy}}</td>
            <td>{{course.semester}}</td>
            <td>{{course.coursetype}}</td>
            <td *ngIf="this.userService.canSign()"><button (click)="unenroll(course.ID)">Unenroll</button></td>
        </tr>
        <tr *ngIf="this.courses.length == 0">
            <td colspan="5">There are no courses</td>
        </tr>
    </table>
</div>
